.table-responsive-horario{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  max-width: 1072.5px;
}
.horas{
  vertical-align: middle;
	min-width: 50px;
  text-align: center;
  font-size:12px;


}
.contenido-tabla{
	min-width: 170px;
	height: 45px;
  text-align: center
}
th, tr{
	text-align: center;
}
.pintado-true{
  background-color: #94E781;
  color:#000;
  font-size: 12px;
  vertical-align: middle;
}
.pintado-false{
  background-color: #F15757;
  color:#000;
  font-size: 12px;
  vertical-align: middle;
}
.ca{
  height: 20px;
  font-size: 12px;
}
.cabecera-tabla{
  font-weight: bold;
}
.cabecera-tabla2{
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  color: #5640FC;
  
}
.hora{
  font-weight: bold;
}

.tabla-docentes-manual{
  width: 100%;
}
